# Backend .env settings
DATABASE_URL=postgresql://user:password@db:5432/mydb
PORT=5001
JWT_SECRET=your_secret_key_here
REFRESH_TOKEN_SECRET=your_super_secret_key
GROQ_API_KEY=key_api_groq



# Frontend .env settings
VITE_API_BASE_URL=http://localhost:5001/api